.domain-item {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    min-height: 4.375rem;
    padding: 0.7rem 0;
    border-top: 1px solid var(--border-primary);

    &__domain {
        display: flex;
    }

    &__dname {
        word-break: break-all;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
    }

    &__data {
        display: grid;
        gap: 0.6rem;
        align-items: center;
        grid-template-columns: 5.625rem 1fr;
        flex-grow: 1;
    }

    &__buy-data {
        display: flex;
        gap: 0.6rem;
        align-items: center;
    }

    &:last-child {
        border-bottom: 1px solid var(--border-primary);
    }
}
@media (max-width: 768px) {
    .domain-item {
        flex-direction: column;
        align-items: flex-start;

        &__buy-data {
            width: 100%;
            justify-content: space-between;
        }
    }
}