.input-span {
    color: var(--text-color-primary);
    margin-bottom: 6px;
    display: block;
}

@mixin InputStyle($border, $background, $hoverBorder, $hoverShadow) {
    .input {
        border: 1px solid $border;
        background-color: $background;

        &:focus {
            border-color: $hoverBorder;
            box-shadow: $hoverShadow;
            outline: none;
        }
    }
}

.input-holder {
    position: relative;

    @include InputStyle(var(--border-primary), var(--bg-primary), rgba(37, 99, 235, 0.6), 0 0 0 3px rgba(37, 99, 235, 0.15));

    .input {
        transition: border .3s ease-in, 
        box-shadow .3s ease-in;

        padding: 12px 14px;
        border-radius: 12px;
        color: var(--text-color-primary);
        width: 100%;
        font-size: var(--font-size-14-16);
    
        &.password {
            padding-right: 46px;
        }
    
        &:focus {
            outline: none;
        }
    }

    .input__btn-show-password {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;

            path {
                stroke: red;
                fill: var(--text-color-primary);
            }
        }
    }

}

.input-description {
    color: var(--text-color-third);
    margin-top: 6px
}

.input-holder.error {
    @include InputStyle(var(--error), var(--bg-primary), rgba(37, 99, 235, 0.6), 0 0 0 3px rgba(37, 99, 235, 0.15));
}