.tabs {
    background-color: var(--border-primary);
    border-radius: 12px;
    padding: 4px;
    display: flex;
    gap: 5px;
    border: 1px solid transparent;
    transition: border .3s ease-in;
}
.tab {
    position: relative;
    flex-grow: 1;
}
.tab input:checked + .tab-content {
    background-color: var(--color-card);
    color: var(--color-primary);
}
.tab-content {
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    transition: color .3s ease-in, background-color .3s ease-in;
    display: block;
    cursor: pointer;
}