.dashboard-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #f6f6f8;
}

.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.dashboard-content {
  padding: 1.5rem;
  flex: 1;
}

.dashboard-page__title,
.search-domen,
.info-block,
.FAQ {
  margin-bottom: 2rem;
}

.dashboard-page__title.dashboard-page__title--with-subtitle {
  margin-bottom: 1.067rem;  
}
.dashboard-page__subtitle {
  margin-bottom: 2rem;
  color: var(--bg-second);
}

// Dark mode
@media (prefers-color-scheme: dark) {
  .dashboard-layout {
    background: #101622;
  }
}
@media (max-width: 1024px) {
  .dashboard-content {
    padding: 0.75rem;
  }
}