.nss-editor {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1.25rem;
    }

    &__content {
       border-top: 1px solid var(--text-color-third); 
    }

    &__item {
        width: 100%;
        display: flex;
        cursor: pointer;

        
        &-data {
            padding: 1.2rem 1.2rem 1.2rem 2.25rem;
            flex-grow: 1;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: var(--text-color-primary);
            transition: background .3s ease-in,
            color .3s ease-in;

            .material-symbols-outlined {
                font-size: var(--font-size-14-16);
            }

            &:hover {
                background-color: var(--border-primary);
            }
        }

        &-value {
            word-break: break-all;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
        }
        
        &--add-record {
            display: flex;
            gap: 0.625rem;
            align-items: center;
            cursor: pointer;
            background-color: transparent;
            border: none;
            color: var(--color-primary);
            padding: 1.2rem 1.2rem 1.2rem 2.25rem;
            transition: background .3s ease-in;

            &:hover {
                background-color: var(--border-primary);
            }
        }

        &-add-text {
            font-weight: 500;
            text-transform: uppercase;
        }

        &-buttons {
            display: flex;

            button {
                padding: 1.25rem;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border: none;
                background-color: var(--bg-fiveth);
                // border-left: 1px solid var(--text-color-third);
                transition: background .3s ease-in,
                color .3s ease-in;

                &:hover {
                    background-color: var(--border-primary);
                }

                // &:last-child {
                //     border-right: 1px solid var(--text-color-third);
                // }
            }
        }

        border-bottom: 1px solid var(--text-color-third);
    }
}
.modal-record {

    &__title {
        margin-bottom: 1rem;
    }

    &__choose-type {
        display: flex;
        flex-direction: column;

        input {
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 0;
            opacity: 0;
            visibility: 0;
        }

        &-item {
            padding: 0.625rem;
            border-bottom: 1px solid var(--text-color-third);
            transition: background-color .3s ease-in;
            cursor: pointer;
            position: relative;
            display: block;

            &--wrapper:first-child {
                border-top: 1px solid var(--text-color-third);
            }
        }

        &-item:hover,
        &-item--wrapper input:checked + &-item {
            background-color: var(--border-primary);
        }
    }

    &__footer {
        .btn {
            margin-left: auto;
        }
    }
}

@media (max-width: 768px) {
    .nss-editor {
        &__item {
            &--add-record,
            &-data {
                padding: 0.6rem 0.6rem 0.6rem 1.25rem;
            }
    
            &-buttons {
                button {
                    padding: 0.6rem;
                }
            }
        }
    }
}

@media (max-width: 460px) {
    .nss-editor {
        &__header {
            flex-direction: column;
            align-items: flex-start;

            .btn {
                width: 100%;
            }
        }
    }
}