:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-primary: #1e40af;
  --color-second: #4f46e5;
  --color-card: #fff;

  --text-color-primary: #0f172a; 
  --text-color-second: #64748b;
  --text-color-third: #94a3b8;
  --text-color-stroke:#DFDFDF;

  --border-primary: rgba(148, 163, 184, 0.35);

  --bg-primary: rgba(248, 250, 252, 0.9);
  --bg-head:rgb(19 91 236 / 0.1);
  --bg-second: #4C4C4C;
  --bg-third: rgb(239 246 255);
  --bg-fourth: #d0d5db59;
  --bg-fiveth: #f6f6f8;

  --error: #FF0000;

  --font-size-26-62 : clamp(22px,calc((100vw - 320px)/(1970 - 320) * (62 - 28) + 22px), 62px);
  --font-size-26-54 : clamp(22px,calc((100vw - 320px)/(1970 - 320) * (54 - 28) + 22px), 54px);
  --font-size-22-50 : clamp(22px,calc((100vw - 320px)/(1970 - 320) * (50 - 28) + 22px), 50px);
  --font-size-20-44 : clamp(18px,calc((100vw - 320px)/(1970 - 320) * (44 - 24) + 18px), 44px);
  --font-size-24-42 : clamp(20px,calc((100vw - 320px)/(1970 - 320) * (42 - 24) + 20px), 42px);
  --font-size-20-32 : clamp(20px,calc((100vw - 320px)/(1970 - 320) * (32 - 22) + 20px), 32px);
  --font-size-18-24 : clamp(18px,calc((100vw - 320px)/(1970 - 320) * (24 - 18) + 16px), 24px);
  --font-size-18-22 : clamp(18px,calc((100vw - 320px)/(1970 - 320) * (22 - 18) + 16px), 22px);
  --font-size-14-22 : clamp(14px,calc((100vw - 320px)/(1970 - 320) * (22 - 16) + 14px), 22px);
  --font-size-16-20 : clamp(16px,calc((100vw - 320px)/(1970 - 320) * (20 - 16) + 16px), 20px);
  --font-size-16-18 : clamp(16px,calc((100vw - 320px)/(1970 - 320) * (18 - 16) + 16px), 18px);
  --font-size-14-16 : clamp(14px,calc((100vw - 320px)/(1970 - 320) * (16 - 14) + 14px), 16px);
  --font-size-12-18 : clamp(12px,calc((100vw - 320px)/(1970 - 320) * (18 - 12) + 12px), 18px);
  --font-size-14: 14px;
  --font-size-13: 13px;
}

// testUserRegister@test.com

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: radial-gradient(circle at top left, #f0f4ff, #f7f9fc 45%, #ecf1ff);
  font-family: var(--font-inter-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-position: inside;
}

.page-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
} 

.h1 {
  font-size: var(--font-size-26-54);
  font-weight: 800;
  line-height: 100%;
}

.h2 {
  font-size: var(--font-size-24-42);
  font-weight: 800;
  line-height: 100%;
}

.h3,
.title_block {
  font-size: var(--font-size-20-32);
  font-weight: 800;
  line-height: 100%;
}

.h4 {
  font-size: var(--font-size-18-24);
  font-weight: 700;
  line-height: 100%;
}

.h5 {
  font-size: var(--font-size-16-20);
  font-weight: 800;
  line-height: 100%;
}

.h6 {
  font-size: var(--font-size-14-16);
  font-weight: 800;
  line-height: 100%;
}

.p1,
.p1 p {
  font-size: var(--font-size-16-20);
  font-weight: 400;
  line-height: 150%;
}

.p2,
.p2 p {
  font-size: var(--font-size-14-16);
  font-weight: 400;
  line-height: 150%;
}

.p3 {
  font-size: var(--font-size-14);
  font-weight: 400;
  line-height: 150%;
}

.title_block {
  margin-bottom: 30px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 18px;
  border-radius: 12px;
  border: 1px solid var(--color-primary);
  font-weight: 600;
  cursor: pointer;
  transition: all .2s ease-in;
  background-color: var(--color-primary);
  color: var(--color-card);
  font-size: var(--font-size-14-16);
  font-weight: 600;
  line-height: 120%;

  .one-line-text {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
  }

  &.mini {
    border-radius: .5rem;
    padding: .5rem 1rem;
  }

  &.second {
    background-color: var(--text-color-second);
    border: 1px solid var(--text-color-second);
    color: var(--color-card);
  }

  &.border {
    border: 1px solid var(--border-primary);
    background-color: transparent;
    color: var(--text-color-third);
  }

  span.load {
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      animation-name: spin;
      animation-timing-function: linear;
      font-size: 0.9375rem;
  }

  &:not(:disabled) {
    &:hover {
      background-color: var(--color-second);
      border: 1px solid var(--color-second);
  
      box-shadow: 0px 0px 3px 0px var(--color-second);
  
      &.second {
        border: 1px solid var(--text-color-third);
        background-color: var(--text-color-third);
        box-shadow: 0px 0px 3px 0px var(--text-color-third);
        color: var(--color-card);
      }

      &.border {
        border: 1px solid var(--border-primary);
        background-color: var(--border-primary);
        color: var(--background);
        box-shadow: none;
      }
    }

  }
  
  
  &:disabled {
    cursor: auto; 
  }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.item-successful {
  color: #36b37e;
  background: #36b37e33;
}

.item-error {
  color: #de350b;
  background: #de350b33;
}

.container {
  max-width: 1560px;
  width: 100%;
}

.ant-modal-root {
  position: relative;
  z-index: 1051;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
