.contact-support {
    background-color: var(--bg-head);
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-direction: column;
}
.contact-support__title {
    text-align: center;
}
@media (max-width: 768px) {
    .contact-support {
        padding: 0.75rem;
        gap: 0.75rem;
    }
}