.info-block {
    border: 1px solid var(--border-primary);
    border-radius: 0.75rem;
    background-color: var(--color-card);
    display: flex;
    align-items: center;

    .info-block &__title {
        margin-bottom: 0.75rem;
        color: var(--text-color-primary);
    }
            
    &__image--wrapper {
        padding: 1rem;
        width: 100%;
        max-width: 250px;
        
        img {
            object-fit: cover;
            aspect-ratio: 1 / 1;
            width: 100%;
            height: 100%;
        }
    }

    &__holder {
        padding: 2rem;
        border-left: 10;
        display: flex;
        align-items: flex-end;
        gap: 0.5rem;
        flex-grow: 1;

        &.image {
            border-left: 1px solid var(--border-primary)
        }
    }

    &__content {
        flex-grow: 1;

        * {
            color: var(--text-color-third);

            &:last-child {
                margin-bottom: 0;
            }
        }

        p {
            margin-bottom: 0.5rem;
        }
    }
}
@media (max-width: 1200px) {
    .info-block__holder {
        flex-wrap: wrap;
    }
}
@media (max-width: 1024px) {
    .info-block__image--wrapper {
        display: none;
    }
    .info-block__holder.image {
        border: none;
    }
}
@media (max-width: 768px) {
    .info-block__holder {
        padding: 1rem;
    }
}